/* body{
    background-color: black;
    color: white;
} */

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

*{
    margin: 0;
    padding: 0; 
}

.left{
    width: 25vw;
}

.right{
    width: 75vw;
}

.home ul li{
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading{
    display: flex;
    gap: 15px;
    /* width: 25px; */
    list-style: none;
    padding-top: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
    /* width: 100%; */
}


.heading img{
    width: 30px;
}

.footer{
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 0;
}

.footer a{
    color: grey;

}

.library{
    min-height: 80vh;
    position: relative;
}
